/* ProductCarousel.css */

.product-slide {
  outline: none;
}

.product-card {
  width: 80%;
  height:auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 20px;
  text-align: center;
}

.product-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.price {
  display: block;
  font-size: 18px;
  color: #f00;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #f00;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f00;
  color: white;
}
